{{#each error}}
<div class="alert alert-warning alert-dismissible fade show text-dark" role="alert">
  {{ this.message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

{{#if passportMessage}}
<div class="alert alert-warning alert-dismissible fade show text-dark" role="alert">
  {{ passportMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}